{% extends 'base_skeleton.html' %}
        {% block "content" %}



        <form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="col-md-5">

    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
    <table class="table">
            {{ form.as_table }}
    </table>


<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
  </div>
</div>


</div>
        {% endblock %}