{% extends "crawler.html" %}
{% block "content" %}
        <script>
           $(function () { $("[data-toggle='tooltip']").tooltip(); });
        </script>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Report for {{report.webpage}}</h3>
            </div>
            <div class="panel-body">
                <p>
                <table class="table">
                    <tr>
                        <th>Czas wykonania</th>
                        <td>{{report.time}}</td>
                    </tr>
                    <tr>
                        <th>Liczba sprawdzonych stron:</th>
                        <td>{{report.rep_set.all |length}}</td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Strony sprawdzone dla {{report.webpage}}</h3>
            </div>
            <div class="panel-body">
                <p>
                <table class="table">
                <thead>
                <th>Adres</th>
                <th>Title</th>
                <th>Kod</th>
                <th>Kodowanie strony</th>
                <th>Linki wewnętrzne</th>
                <th>Linki zewnętrzne</th>
                <th>Liczba nagłówków</th>
                <th>Liczba akapitów</th>
                </thead>
                <tbody>
                {% for page in report.rep_set.all %}
                <tr {% if page.returned_code == 404 %} class="danger" {% elif page.returned_code != 200 %}class="warning"{% endif %}>
                    <td><a href="{% url 'webpage-detail' page.pk %}">{{ page.url}}</a></td>
                    <td><span data-toggle="tooltip" title="{{page.title}}">{{page.title|truncatewords:4}}</span></td>
                    <td>{{page.returned_code}}</td>
                    <td>{{page.coding_page|upper}}</td>
                    <td><span class="badge">{{page.internal_links.all|length}}</span></td>
                    <td><span class="badge">{{page.external_links.all|length}}</span></td>
                    <td><span class="badge">{{page.headings.all|length}}</span></td>
                    <td><span class="badge">{{page.paragraphs.all|length}}</span></td>
                </tr>
                {% endfor %}
                </tbody>

                </table>
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}