{% extends "crawler.html" %}
{% block "content" %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Reports</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Page address</th>
                <th>Request date</th>
                <th>Finish date</th>
                <th>Details</th>
            </tr>
            {% for report in report_list %}
            <tr>
                <td>
                    {% if report.status == 0 %}
                         <span class="label label-info">
                    {% elif report.status == 1 %}
                         <span class="label label-warning">
                    {% elif report.status == 2 %}
                         <span class="label label-success">
                    {% elif report.status == 3 %}
                         <span class="label label-danger">

                    {% endif %}

                    {{ report.get_status_display }}</span></td>
                <td>{{ report.webpage }}</td>
                <td>{{ report.create_date }}</td>
                <td>{{ report.update_date }}</td>
                <td><a href="{% url 'report-detail' report.pk %}">Details</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <ul class="pager">

            {% if page_obj.has_previous %}
                   <li class="previous"><a href="{% url 'reports-list' %}?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% endif %}

            {% if page_obj.has_next %}
            <li class="next"><a href="{% url 'reports-list' %}?page={{page_obj.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>

    {% endif %}
    </div>
</div>


{% endblock %}