{% extends "crawler.html" %}
{% block "content" %}
        <ol class="breadcrumb">
  <li><a href="{% url 'report-detail' webpage.report.pk %}">{{webpage.report.webpage}}</a></li>
  <li class="active">{{webpage.url}}</li>

</ol>
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Podsumowanie</a></li>
    <li><a href="#headings" data-toggle="tab">Nagłówki</a></li>
    <li><a href="#paragraphs" data-toggle="tab">Akapity</a></li>
    <li><a href="#internal" data-toggle="tab">Linki wewnętrzne</a></li>
    <li><a href="#external" data-toggle="tab">Linki zewnętrzne</a></li>
    <li><a href="#images" data-toggle="tab">Obrazy</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informacje o stronie</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Code:</th><td>{{ webpage.returned_code }}</td>
                    </tr>
                    {% if webpage.last_redirect %}
                    <tr>
                        <th>Przekierowanie do:</th><td>{{ webpage.last_redirect }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Tytuł:</th><td>{{webpage.title}}</td>
                    </tr>
                    <tr>
                        <th>Zadeklarowane kodowanie strony:</th><td>{{ webpage.coding_page }}</td>
                    </tr>
                    <tr>
                        <th>Liczba linków wewnętrznych:</th><td>{{webpage.internal_links.all|length}}</td>
                    </tr>
                    <tr>
                        <th>Liczba linków zewnętrznych:</th><td>{{ webpage.external_links.all|length}}</td>
                    </tr>

                    <tr>
                        <th>Nagłówki:</th>
                        <td>

                            {% for h in webpage.count_headings %}
                        {{h.type|upper}} - {{h.count}}</br>

                    {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Liczba akapitów:</th>
                        <td>
                            {{webpage.paragraphs.all|length}}
                        </td>
                    </tr>

                </table>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="headings">
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nagłówki</h3>
            </div>
            <div class="panel-body">
                <p>


                    <table class="table">
                    <thead>
                    <th>Nagłówek</th>
                    <th>Tekst</th>
                    </thead>
                    <tbody>
                     {% for heading in webpage.headings.all %}
                    <tr><td>{{heading.type|upper}}</td><td>{{heading.text}}</td></tr>
                      {% endfor %}
                    </tbody>
                    </table>
                </p>


            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="paragraphs">
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Akapity</h3>
            </div>
            <div class="panel-body">
                <p>
                    <table class="table">
                    <thead>
                    <th>ID</th>
                    <th>Klasa CSS</th>
                    <th>Liczba znaków</th>
                    <th>Liczba słów</th>
                    <th>Treść</th>
                    </thead>
                    <tbody>
                     {% for paragraph in webpage.paragraphs.all %}
                    <tr>
                        <td>{{paragraph.dom_id}}</td>
                        <td>{{paragraph.css_class}}</td>
                        <td>{{paragraph.characters_count}}</td>
                        <td>{{paragraph.words_count}}</td>
                        <td>{{paragraph.content}}</td>
                    </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                </p>


            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="internal">
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">Linki wewnętrzne</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th>href</th>
                    <th>text</th>
                    <th>rel</th>
                    <th>Zobacz raport</th>
                    </thead>
                    <tbody>
                    {% for link in webpage.internal_links.all %}
                        <tr>
                            <td>{{link.href}}</td>
                            <td>{{link.text}}</td>
                            <td>{{link.rel}}</td>
                            <td>
                                {% if link.target.pk %}
                                <a href="{% url 'webpage-detail' link.target.pk %}">Przejdź...</a>
                                {% endif %}
                                </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="external">
         <p></p>
        <div class="panel panel-default">
        <div class="panel-heading">Linki zewnętrzne</div>
        <div class="panel-body">
        <table class="table">
                    <thead>
                    <th>href</th>
                    <th>text</th>
                    <th>rel</th>

                    </thead>
                    <tbody>
                    {% for link in webpage.external_links.all %}
                        <tr>
                            <td>{{link.href}}</td>
                            <td>{{link.text}}</td>
                            <td>{{link.rel}}</td>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>

    </div>
    <div class="tab-pane fade" id="images">
        <p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Obrazy</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>IMG</th>
                        <th>ALT</th>
                    </tr>
                    {% for img in webpage.img.all %}
                    <tr>
                        <td>{{img.src}}</td>
                        <td> {{ img.alt }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        </p>

    </div>
</div>
{% endblock %}