<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block "title" %}WEB Crawler{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/crawler.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span style="color:#00FF00">SEO</span> Crawler</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block "navigation" %}

                {% endblock %}
            </ul>
            {% block "right-navigation" %}{% endblock %}
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container crawler-template">
    {% block "content" %}

    {% endblock %}
</div>
<!-- /.container -->

 <div class="footer">
      <div class="container">
        <p class="text-muted text-center">Autor: Piotr Bilski 2014</p>
          <p class="text-muted text-center"><a href="https://bitbucket.org/piotrbilski/webcrawlerseo/issues/new" target="_blank">Zgłoś błąd</p>
      </div>
    </div>
</body>
</html>