{% extends 'base_skeleton.html'%}
                {% block "navigation" %}
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                {% endblock %}
