{% extends "base_template.html" %}
{% block "navigation" %}
<li><a href="{% url "reports-list" %}">Lista raportów</a></li>
<li><a href="{% url "new-trip" %}">Nowy raport</a></li>

        <li class="divider"></li>

{% endblock %}

{% block "right-navigation" %}

        <p class="navbar-text navbar-right"> <a href="{% url "logout" %}"class="btn btn-default btn-xs">Wyloguj {{user}}</a></p>
        {% endblock %}