{% extends "crawler.html" %}

{% block "content" %}
<form method="POST">{% csrf_token %}
    <table class="table" style="width:200px">
    {{form.as_table }}
        </table>
    <input type="submit">
</form>
{% endblock %}

